<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HLS</title>
  </head>
  <body>
    <div id="app">
    </div>
    <script>
      function put(data) {
        data.shift()

        const mother = document.getElementById("app")
        const main = document.createElement("ul")

        for (let d in data) {
          const info = data[d]
          let n = document.createElement("li")
          let f = document.createElement("form")
          f.setAttribute("action", "http://localhost:8080/del")
          f.setAttribute("method", "POST")
          let i = document.createElement("input")
          i.setAttribute("type", "hidden")
          i.setAttribute("name", "file")
          i.setAttribute("value", info)
          let t = document.createElement("input")
          t.setAttribute("type", "submit")
          t.setAttribute("value", info)
          f.appendChild(i)
          f.appendChild(t)
          n.appendChild(f)
          main.appendChild(n)
        }

        if (data.length > 0) {
          mother.appendChild(main)
        } else {
          mother.innerText = "No files."
        }

      }
      fetch('http://localhost:8080/all')
              .then(response => response.json())
              .then(data => put(data))
              .catch(async error => {
                console.log(error)
              })
    </script>
  </body>
</html>