<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HLS</title>
  </head>
  <body>
    <div id="app">
      No files.
    </div>
    <script>
      fetch('http://localhost:8080/all')
              .then(async response => {
                console.log(response.status)

                document.getElementById("app").innerText = await response.json()
              })
              .catch(async error => {
                console.log(error)
              })
    </script>
  </body>
</html>