<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HLS</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container w-50 my-5">
      <div class="navbar navbar-light bg-primary px-4">
        <span class="nav-item" style="color: #ffffff">
          <a class="nav-link" href="http://localhost:8080/">Home</a>
        </span>
        <span class="nav-item" style="color: #ffffff">
          <a class="nav-link" href="http://localhost:8080/files">Files</a>
        </span>
      </div>
      <div id="app" class="px-4 py-4 my-3 border border-secondary rounded">
      </div>
    </div>
    <script>
      function put(data) {
        const mother = document.getElementById("app")
        const main = document.createElement("ul")
        main.style.listStyleType = "none"

        for (let d in data) {
          // extracting file name
          const name = data[d]
          // the container li and ul as container
          let row = document.createElement("li")
          let container = document.createElement("ul")
          container.style.listStyleType = "none"
          // row 1 : name
          let in_row_1 = document.createElement("li")
          let f1 = document.createElement("h4")
          f1.innerText = name
          in_row_1.appendChild(f1)
          // row 2 : download
          let in_row_2 = document.createElement("li")
          let f2 = document.createElement("form")
          f2.setAttribute("action", "http://localhost:8080/get")
          f2.setAttribute("method", "POST")
          let i2 = document.createElement("input")
          i2.setAttribute("type", "hidden")
          i2.setAttribute("name", "file")
          i2.setAttribute("value", name)
          let t2 = document.createElement("input")
          t2.setAttribute("type", "submit")
          t2.setAttribute("value", "Download")
          t2.classList.add("btn", "btn-primary", "my-1")
          f2.appendChild(i2)
          f2.appendChild(t2)
          in_row_2.appendChild(f2)
          // row 3 : remove
          let in_row_3 = document.createElement("li")
          let f3 = document.createElement("form")
          f3.setAttribute("action", "http://localhost:8080/del")
          f3.setAttribute("method", "POST")
          let i3 = document.createElement("input")
          i3.setAttribute("type", "hidden")
          i3.setAttribute("name", "file")
          i3.setAttribute("value", name)
          let t3 = document.createElement("input")
          t3.setAttribute("type", "submit")
          t3.setAttribute("value", "Delete")
          t3.classList.add("btn", "btn-danger", "my-1")
          f3.appendChild(i3)
          f3.appendChild(t3)
          in_row_3.appendChild(f3)

          container.appendChild(in_row_2)
          container.appendChild(in_row_3)

          row.appendChild(in_row_1)
          row.appendChild(container)
          main.appendChild(row)
        }

        if (data != null) {
          mother.appendChild(main)
        } else {
          mother.innerText = "No files."
        }

      }
      fetch('http://localhost:8080/all')
              .then(response => response.json())
              .then(data => put(data))
              .catch(async error => {
                document.getElementById("app").innerText = "No files."
                console.log(error)
              })
    </script>
  </body>
</html>